@using Lexicon_LMS_G1.Services
@model IEnumerable<Lexicon_LMS_G1.Entities.Entities.Activity>
@inject IBorderColorService borderColor

<h2 class="text-center">Activities for chosen course:</h2>


<div class="accordion" id="activityAccordion">
    @foreach (var item in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header " id="@($"heading")@Html.DisplayFor(modelItem => item.Id)">
                <button class="accordion-button collapsed border border-2 @borderColor.GetBorderColor(item.ActivityType) mb-1" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse")@Html.DisplayFor(modelItem => item.Id)" aria-expanded="false" aria-controls="@($"collapse")@Html.DisplayFor(modelItem => item.Id)">
                    <div class="ps-4" style="width:100%">
                        <div class=""><strong>@Html.DisplayFor(modelItem => item.ActivityType.Name)</strong></div>
                        <div>@Html.DisplayFor(modelItem => item.Name)</div>
                    </div>
                </button>
            </h2>
            <div id="@($"collapse")@Html.DisplayFor(modelItem => item.Id)" class="accordion-collapse collapse" aria-labelledby="@($"heading")@Html.DisplayFor(modelItem => item.Id)" data-bs-parent="#activityAccordion">
                <div class="accordion-body p-0 pt-3">
                        <div class="ms-3"><h5 class="mb-0">Module:</h5> <p>@item.Module.Name</p></div>
                        <div class="ms-3"><h5 class="mb-2">Duration:</h5><p>@item.StartDate.ToString("yy/MM/dd hh:mm") 
                            <strong>-</strong> @item.EndDate.ToString("yy/MM/dd hh:mm")</p></div>
                    <div class="px-3">
                        <h5 class="mb-0">Activity description:</h5>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            </div>

        </div>
    }
</div>