@model PaginatedList<CourseViewModel>

@{
    ViewData["Title"] = "Course Overview Teacher";
}


<div class="container">
    <h1>Course Overview For Teacher</h1>

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error">
            <i class="fas fa-exclamation-triangle pe-1"></i>@TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
        </div>
    }
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success" id="message">
            <i class="fas fa-check-circle pe-1"></i>@TempData["Message"]
        </div>
    }
    <div class="row">
        <div id="courseList" class="col-6">
            <div class="accordion" id="courseAccordion">
                @foreach (var item in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@($"heading")@Html.DisplayFor(modelItem => item.Id)">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse")@Html.DisplayFor(modelItem => item.Id)" aria-expanded="false" aria-controls="@($"collapse")@Html.DisplayFor(modelItem => item.Id)">
                                <div class="text-center ps-4" style="width:100%">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </button>
                        </h2>
                        <div id="@($"collapse")@Html.DisplayFor(modelItem => item.Id)" class="accordion-collapse collapse" aria-labelledby="@($"heading")@Html.DisplayFor(modelItem => item.Id)" data-bs-parent="#courseAccordion">
                            <div class="accordion-body p-0 pt-3">
                                @if (item.Modules.Count == 0)
                                {
                                    <p class="ps-3">This course don't have any moduals</p>
                                }
                                else
                                {
                                    @foreach (var module in item.Modules)

                                    {
                                        <div class="ps-3">@Html.DisplayFor(m => module.Name)</div>
                                        <hr />
                                    }

                                }
                                <div class="px-3 pb-3 row">
                                    <div class="col">
                                        <a asp-controller="" asp-action="" class="btn btn-primary">View Documents</a>
                                        <a asp-controller="Modules" asp-action="Create" class="btn btn-primary">Add Module</a>

                                    </div>
                                    <div class="text-end col">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary offset-4">Edit</a>
                                        <button type="button" data-ref="@item.Id" data-name="@item.Name" class="btn btn-danger deleter" data-bs-toggle="modal" data-bs-target="#delete">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @*Delete Modal logic*@

                }
                <div class="modal" tabindex="-1" id="delete">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <p>This action can not be reversed!</p>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <form asp-action="Delete">
                                    <input type="hidden" name="deleteId" value="" id="deleteId" />
                                    <input type="submit" value="Yes" class="btn btn-primary" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            @*Paginating puttons*@
            @{
                var prevDisabled = !Model.HasPrevious ? "disabled" : "";
                var nextDisabled = !Model.HasNext ? "disabled" : "";
            }
            <div class="text-center pt-3">
                <a asp-action="IndexTeacher" asp-route-pageIndex="@(Model.CurrentPageIndex - 1)" class="btn btn-light border border-secondary @prevDisabled"><</a>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    @if (i != Model.CurrentPageIndex)
                    {
                        <a asp-action="IndexTeacher" asp-route-pageIndex="@i" class="btn btn-light border border-secondary">@i</a>
                    }
                    else
                    {
                        <span class="btn btn-secondary">@i</span>
                    }
                }
                <a asp-action="IndexTeacher" asp-route-pageIndex="@(Model.CurrentPageIndex + 1)" class="btn btn-light border border-secondary @nextDisabled">></a>

                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
            </div>
        </div>
        <div id="activitiesList" class="col-6">
        </div>
    </div>
</div>
