@model PaginatedList<CourseViewModel>

@{
    ViewData["Title"] = "Course Overview Teacher";
}


<div class="container">
    <h1 class="text-center pb-3">Courses Overview For Teacher</h1>

    <div class="row mt-3">
        <div id="courseList" class="col-6 border border-3 rounded">
            <div class="row p-2">
                <h2 class="text-center col-md-4 offset-md-4">Courses</h2>
                <div class="col-md-4 align-content-center text-end mt-2">
                    <span data-toggle="tooltip" data-bs-placement="top" title="Add course">
                        <a asp-action="Create" type="button" class=""><i class="fa-solid fa-circle-plus fa-2xl"></i></a>
                    </span>
                </div>
            </div>
            <div class="accordion" id="courseAccordion">
                @foreach (var item in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="@($"heading")@Html.DisplayFor(modelItem => item.Id)">
                            <button class="accordion-button collapsed courseclick" type="button" id="@item.Id" data-courseId="@item.Id" data-bs-toggle="collapse" data-bs-target="@($"#collapse")@Html.DisplayFor(modelItem => item.Id)" aria-expanded="false" aria-controls="@($"collapse")@Html.DisplayFor(modelItem => item.Id)">
                                <div class="text-center ps-4" style="width:100%">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </button>
                        </h2>
                        <div id="@($"collapse")@Html.DisplayFor(modelItem => item.Id)" class="accordion-collapse collapse" aria-labelledby="@($"heading")@Html.DisplayFor(modelItem => item.Id)" data-bs-parent="#courseAccordion">
                            <div class="accordion-body p-0 pt-3">
                                <div class="row">
                                    <div class="col ms-3"><h5 class="">Course Start:</h5><p class="mb-1">@item.StartTime.ToString("yy/MM/dd hh:mm")</p></div>
                                    <div class="col offset-2 text-end me-3"><strong>Number of attendees:</strong><br>@item.AttendingStudents.Count</div>
                                </div>
                                <div class="px-3">
                                    <div class="row">
                                        <h5 class="col align-self-end">Course description:</h5>
                                        <div class="col-2 text-end mb-4" data-toggle="tooltip" data-bs-placement="top" title="Add student to course">
                                            <a asp-area="Identity" asp-page="/Account/Register" asp-route-id="@item.Id" class="px-3  addSTC text-success"><i class="fa-solid fa-user-plus fa-2xl"></i></a>
                                        </div>
                                    </div>
                                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                </div>
                                <hr class="mb-0" />
                                @if (item.Modules.Count == 0)
                                {
                                    <p class="ps-3 bg-light py-3">This course don't have any modules</p>
                                }
                                else
                                {
                                    var num = 1;
                                    @foreach (var module in item.Modules)
                                    {
                                        <div class="row bg-light py-3 mx-0">
                                            <div class="col-12 d-flex justify-content-between">
                                                <div>
                                                    <strong>Module @num:</strong> @Html.DisplayFor(m => module.Name)
                                                </div>
                                                <div class="">
                                                    <a asp-controller="Modules"
                                           asp-action="Details"
                                           asp-route-id="@module.Id"
                                           class="" data-toggle="tooltip" data-bs-placement="top" title="Details">
                                                        <i class="fa-solid fa-circle-info fa-2xl"></i></a>
                                                    <a type="button"
                                                data-ref="@module.Id"
                                                data-name="@module.Name"
                                                data-delete-id="deleteId1"
                                                data-type="Module"
                                                class=""
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal1" data-toggle="tooltip" data-bs-placement="top" title="Delete module">
                                                       <img src="~/css/yeet.png" alt="picture of a baseball player dunking a ball" 
                                                       width="30" height="30" >
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <strong>Duration:</strong> @module.StartTime.ToString("yy/MM/dd")
                                                <strong>-</strong> @module.EndTime.ToString("yy/MM/dd")
                                            </div>
                                        </div>
                                        <hr class="m-0" />
                                        num++;
                                    }

                                }
                                <div class="p-3 row">
                                    <div class="col align-self-center">
                                        <a asp-controller="" asp-action="" class="btn btn-primary d-none">View Documents</a>
                                        <a asp-controller="Modules"
                                            asp-route-id="@item.Id"
                                            asp-action="Create"
                                            data-toggle="tooltip"
                                            title="Add module"
                                            class="btn btn-primary">
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <button type="button"
                                            class="btn btn-dark"
                                            data-toggle="tooltip"
                                            title="Add document"
                                            data-bs-toggle="modal"
                                            data-bs-target="#uploadModal@(item.Id)">
                                            <i class="fa-solid fa-upload"></i>
                                        </button>
                                    </div>
                                    <div class="text-end col fs-1">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-warning" data-toggle="tooltip" data-bs-placement="top" title="Edit course"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a type="button" data-ref="@item.Id" data-name="@item.Name" data-delete-id="deleteId2" data-type="Course" class="" data-bs-toggle="modal" data-bs-target="#deleteModal2" data-toggle="tooltip" data-bs-placement="top" title="Delete course"><img src="~/css/yeet.png" alt="picture of a baseball player dunking a ball" 
                                                       width="40" height="40" ></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="uploadModal@(item.Id)" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header text-center d-block">
                                    <h4 class="d-inline-block align-self-center">Upload a document</h4>
                                    <button type="button"
                                        class="btn btn-outline-danger close btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#uploadModal@(item.Id)">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="formDocumentModules"
                                        asp-controller="Documents"
                                        asp-action="UploadCourseDocument"
                                        enctype="multipart/form-data">
                                        <div>
                                            <label class="control-label"></label>
                                            <input name="document" type="file" class="form-control" />
                                        </div>
                                        <div class="mt-2">
                                            <label class="control-label">Description</label>
                                            <input name="description" type="text" class="form-control" />
                                        </div>
                                        <div>
                                            <input type="hidden" name="courseId" value="@item.Id" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <input type="submit" class="btn btn-primary" form="formDocumentModules" value="Done" />
                                    <button type="button" class="btn btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#uploadModal@(item.Id)">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
</div>
                }
            </div>

            <vc:delete delete-controller="modules" return-controller="courses"
                       return-action="IndexTeacher" delete-modal-id="deleteModal1"></vc:delete>

            <vc:delete delete-controller="courses" delete-modal-id="deleteModal2"></vc:delete>

            @*Paginating puttons*@
            @{
                var prevDisabled = !Model.HasPrevious ? "disabled" : "";
                var nextDisabled = !Model.HasNext ? "disabled" : "";
            }
            <div class="text-center p-3">
                <a asp-action="IndexTeacher" asp-route-pageIndex="@(Model.CurrentPageIndex - 1)" class="btn btn-light border border-secondary @prevDisabled"><</a>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    @if (i != Model.CurrentPageIndex)
                    {
                        <a asp-action="IndexTeacher" asp-route-pageIndex="@i" class="btn btn-light border border-secondary">@i</a>
                    }
                    else
                    {
                        <span class="btn btn-secondary">@i</span>
                    }
                }
                <a asp-action="IndexTeacher" asp-route-pageIndex="@(Model.CurrentPageIndex + 1)" class="btn btn-light border border-secondary @nextDisabled">></a>

                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
            </div>
        </div>
        <div id="activitiesList" class="col-5 offset-1 d-none">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
