@model IEnumerable<Lexicon_LMS_G1.Entities.Entities.Course>

@{
    ViewData["Title"] = "Course Overview Teacher";
}


<div class="container">
    <h1>Course Overview Teacher</h1>
    <div class="row">
        <div id="courseList" class="col-6">
            <div class="accordion" id="courseAccordion">
                @foreach (var item in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@($"heading")@Html.DisplayFor(modelItem => item.Id)">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse")@Html.DisplayFor(modelItem => item.Id)" aria-expanded="false" aria-controls="@($"collapse")@Html.DisplayFor(modelItem => item.Id)">
                               <div class="text-center ps-4" style="width:100%">
                                @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </button>
                        </h2>
                        <div id="@($"collapse")@Html.DisplayFor(modelItem => item.Id)" class="accordion-collapse collapse" aria-labelledby="@($"heading")@Html.DisplayFor(modelItem => item.Id)" data-bs-parent="#courseAccordion">
                            <div class="accordion-body p-0 pt-3">
                                @if (item.Modules.Count == 0)
                                {
                                    <p>This course don't have any moduals</p>
                                }
                                else
                                {
                                    @foreach (var module in item.Modules)
                                    {
                                        <div class="ps-3">@Html.DisplayFor(m => module.Name)</div>
                                        <hr />
                                    }

                                }
                                <div class="px-3 pb-3 row">
                                    <div class="col">
                                    <a asp-controller="Modules" asp-route-id="@item.Id" asp-action="Create" class="btn btn-primary">Add Module</a>
                                    <a asp-controller="Modules" asp-route-id="@item.Id" asp-action="Create" class="btn btn-primary">Add Module</a>

                                    </div>
                                    <div class="text-end col">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary offset-4">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>

        <div id="activitiesList" class="col-6">
        </div>
    </div>
</div>
