@model Lexicon_LMS_G1.Entities.Entities.Module

<h3 class="px-3">
    @Html.DisplayFor(a => Model.Name)
</h3>
<p class="px-3">
    @Html.DisplayFor(a => Model.Description)
</p>
<div class="list-group" id="activitiesButtons">
    @foreach (var item in Model.Activities)
    {
        <button class="list-group-item btn btn-primary activitySelectButton" data-parent="@item.Module.CourseId" data-activity="@item.Id" id="@($"activityButton")@item.Id"> @Html.DisplayFor(a => item.Name) </button>
    }
</div>
