@model Lexicon_LMS_G1.Entities.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Attending course:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
    <h5>Finished Assignment</h5>
    @foreach (var assignment in Model.FinishedActivities)
    {
        <div class="card" style="">
            <div class="card-body">
                <h5 class="card-title">@assignment.Activity.Name</h5>
            </div>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

